<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">
  {{#ifCond 1 '==' errorCode}}
  <div class="alert alert-info" role="alert">
    <strong> 알림 </strong> 생성한 계정으로 로그인 하세요
  </div>
  {{/ifCond}}

  {{#ifCond -1 '==' errorCode}}
  <div class="alert alert-danger" role="alert">
    <strong> 에러 </strong> 없는 계정입니다.
  </div>
  {{/ifCond}}

  {{#ifCond -2 '==' errorCode}}
  <div class="alert alert-danger" role="alert">
    <strong> 에러 </strong> 계정 및 비밀번호를 확인해주세요 
  </div>
  {{/ifCond}}

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action="./loginCheck" method="POST">
          <div class="form-group">
            <div class="form-label-group">
              <input type="userId" id="userId" name="userId" class="form-control" placeholder="User ID" required="required" autofocus="autofocus">
              <label for="userId">User ID</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="pw" class="form-control" placeholder="Password" required="required">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Login">
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>